:root {
    --bg-color: #ffffff;
    --accent-color: rgb(251, 220, 225);
    --hover-color: rgb(135, 42, 57);
    --link-color: #ffffff;
    --text-color: #32626c;
    --font-family: "Ibarra Real Nova", serif;
    --font-title: "Archivo", sans-serif;
}

body{
    font-size: var(--font-family);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
}

.nav-link {
    background-color: var(--accent-color);
    color: var(--text-color);
    transition: all 100ms ease-in;
    padding: 10px;
    margin: 4px;
   border-radius: 10px;
   text-decoration: none;
}

.nav-link:hover {
    transition: all 300ms ease-out;
    background-color: var(--hover-color);
    color: var(--link-color);


}